$color-main: #4BB967;
$color-light: #e4e5e6;
$color-dark: #282c34;

$color-complementary-1: #4bb967;
$color-complementary-2: #b94b9d;

$color-triadic-1: #4bb967;
$color-triadic-2: #674bb9;
$color-triadic-3: #b9674b;

$color-tetradic-1: #4bb967;
$color-tetradic-2: #4b66b9;
$color-tetradic-3: #b94b9d;
$color-tetradic-4: #b99e4b;

$color-analogous-1: #4bb967;
$color-analogous-2: #4bb99e;
$color-analogous-3: #4b9db9;
$color-analogous-4: #4b66b9;
$color-analogous-5: #674bb9;
$color-analogous-6: #9e4bb9;

$color-neutral-1: #4bb967;
$color-neutral-2: #4bb982;
$color-neutral-3: #4bb99e;
$color-neutral-4: #4bb8b9;
$color-neutral-5: #4b9db9;
$color-neutral-6: #4b81b9;

$color-shades-1: #4bb967;
$color-shades-2: #42a25a;
$color-shades-3: #388b4d;
$color-shades-4: #2f7440;
$color-shades-5: #265c34;
$color-shades-6: #1c4527;
$color-shades-7: #132e1a;
$color-shades-8: #09170d;

$color-tints-1: #4bb967;
$color-tints-2: #62c27a;
$color-tints-3: #78cb8d;
$color-tints-4: #8fd3a0;
$color-tints-5: #a5dcb3;
$color-tints-6: #bce5c6;
$color-tints-7: #d2edd9;
$color-tints-8: #e9f6ec;

$color-tones-1: #4bb967;
$color-tones-2: #52b26a;
$color-tones-3: #58ab6d;
$color-tones-4: #5fa370;
$color-tones-5: #659c73;
$color-tones-6: #6c9576;
$color-tones-7: #728e79;
$color-tones-8: #79877c;
